/* super-search
Author: Kushagra Gour (http://kushagragour.in)
MIT Licensed
*/
.super-search-btn {
	position: fixed;
	right: 15px;
	bottom: 10px;
	fill: #000;
	fill-opacity: .5;
}
.super-search-btn:hover {
	fill: #BBB;
	fill-opacity: .5;
}

.super-search {
	position: fixed;
	background-color: rgba(251, 251, 251, 0.94);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	transition: 0.2s ease;
	visibility: hidden;
	opacity: 0;
}
.super-search__close-btn {
	fill: #333;
	fill-opacity: 1.0;
	position: absolute;
	right: 15px;
	top: 25px;
	z-index: 1;
}

.super-search__input {
	border: 0;
	font-size: 50px;
	border-left: none;
	border-right: none;
	color: #333;
	width: 100%;
	padding: 10px 31px;
	text-align: center;
	transform: translateY(-100%);
	transition: 0.15s ease-out 150ms;
	background: lightcoral;
}
.is-active .super-search__input {
	transform: translateY(0);
}
.super-search__results {
	/*text-align: center;*/
	list-style: none;
	padding: 0;
	overflow-x: hidden;
	height: calc(100% - 110px);
	transition: 0.2s ease;
}
.super-search__results.is-hidden {
	opacity: 0;
	transform: translateY(-1vh);
}

.super-search__results > li > a {
	display: block;
	position: relative;
	background-color: #ffffff;
	color: #333;
	padding: 17px;
	margin: 12px 14px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
	background-image: none;
	font-size: 1.5rem;
}
.super-search__result-date {
	color: #7a7a7a;
	position: relative;
	font-size: 1rem;
	font-style: italic;
	/*padding-left: .5em;*/
	/*right: 12px;*/
}
.super-search__result-date:after {
	content: "\a ";
	white-space: pre;
}

.super-search__result-title {
	color: #333;
	position: relative;
	font-size: 1.85rem;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 600;
	/*padding-left: .5em;*/
	/*right: 12px;*/
}

.super-search.is-active {
	opacity: 1;
	visibility: visible;
}