<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  {% if site.google_tag_manager %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
	{% if site.facebook_comments %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}

  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="super-search" id="js-super-search">
    <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn">
      <svg style="width:50px;height:50px" viewBox="0 0 24 24">
      <path d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z"></path>
      </svg>
    </a>
    <input type="search_string" placeholder="find..." class="super-search__input" id="js-super-search__input">
    <ul class="super-search__results" id="js-super-search__results"></ul>
  </div>
  <script src="/js/super-search.min.js"></script>
  <script>
    superSearch({
      searchFile: '/feed.xml',
      searchSelector: '#js-super-search', // CSS Selector for search container element.
      inputSelector: '#js-super-search__input', // CSS selector for <input>
      resultsSelector: '#js-super-search__results' // CSS selector for results container
    });
  </script>
  {% include footer.html %}
</body>
</html>
